<!DOCTYPE html>
<html lang="en">
<head>
    <!--Roboto Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
    <!--Link to Style Sheet-->
    <link rel="stylesheet" href="../static/style.css">

    <!--Link to js-->
    <script defer src="../static/script.js"></script>

    <!--Meta-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Emerson Kim">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Emerson Kim professional website">
    <title>Emma Kim</title>
</head>
<body>
    <header>
        <!--website name-->
        <h1 id="webname">Emerson Kim</h1>
        <!--nav bar-->
        <nav>
            <a class = "nav" href="../index.html">About Me</a>
            <a class = "nav" href="cv.html">Resume</a>
            <a class = "nav" href="fun.html">More!</a>
            <a class = "nav" href="contact.html">Contact</a>
        </nav>
    </header>
    <div>
        <main>
            <h2>Contact Me</h2>

            <!-- Form -->
            <form action="/action_page.php" method="get">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required><br><br>
                
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required><br><br>

                <label for="comment">Comment:</label>
                <textarea id="comment" name="comment" required></textarea>

                <input type="submit" value="Submit">
            </form>

            <!-- Contact Table -->
            <table>
                <tr>
                    <th>Contact Method</th>
                    <th>Description</th>
                </tr>
                <tr>
                    <td>Phone Number</td>
                    <td>206-606-3191</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>emersongkim@gmail.com</td>
                </tr>
            </table>

            <footer>Copyright Emma Kim</footer>
        </main>
    </div>
</body>
</html>
