/* <!--:root{
    --pink = rgba(1,1,1,1);
}
*{
    font-family: Arial, sans-serif;
    padding: 5px;
    margin: 5%;
    color: green;
}

h1{
    color: var(--pink);
} 
.displayNone{
    display: none;
}

ul li {
    display: inline;
a{
    color: white;
}
}
nav {
    background-color: aqua;
}--> */