<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/style.css">
    <meta name="viewport" content="width=device-width">

    <title>Document</title>
</head>
<body>
    <div class="grid-container">
        <header>Header</header>
        <nav>Navigation bar</nav>
        <figure>Main image</figure>
        <main>Main</main>
        <summary>Bottom Content</summary>
        <footer>footer</footer>
    </div>
</body>
</html>